{% extends 'cars/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
<h2 style="text-align: center;"> Лайт Авто - молодая российская динамично развивающаяся компания.</h2>
<p style="text-align: center;margin-right: 169px;margin-left: 169px;font-size: larger;">Наша компания работает открыто и честно, без лишних дополнительных платежей.
    Все расчёты подробно расписаны, полный отчет за каждый финансовый процесс.
    Работаем напрямую с Кореей, поэтому у нас одна из самых быстрых доставок!
    Также наша компания славится конкретной фиксированной комиссией и мы не берем дополнительных "скрытых платежей".
    Вы всегда сможете взять калькулятор и самостоятельно рассчитать полную стоимость автомобиля.
</p>
<!--    <p> Всего машин : {{ cars | length  }} </p>-->
{% endblock content %}
