{% extends 'cars/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
<h2 style="text-align: center;"> Лайт Авто</h2>
<p style="text-align: center;font-size: larger;">Адрес: Московское ш., 318г, Нижний Новгород, Нижегородская обл., 603092<br />
Часы работы:<br />
пятница	10:00–20:00<br />
суббота	10:00–20:00<br />
воскресенье	10:00–20:00<br />
понедельник	10:00–20:00<br />
вторник	10:00–20:00<br />
среда	10:00–20:00<br />
четверг	10:00–20:00<br />
<br />
Телефон: 8 (920) 071-91-07
</p>
{% endblock content %}