<!--{% extends 'cars/base.html' %}-->

<!--{% block content %}-->
<!--<h1>{{ title }}</h1>-->
<!--<br>-->
<!--<form method="get" action="{% url 'gradebook' %}">-->
<!--    {{ group_form }}-->
<!--    <button type="submit">Выбрать</button>-->
<!--</form>-->
<!--{% if group %}-->
<!--    <form method="get" action="{% url 'gradebook' %}">-->
<!--        {{ subj_form }}-->
<!--        <input type="hidden" name="group" value="{{ group }}" />-->
<!--        <button type="submit">Выбрать</button>-->
<!--    </form>-->
<!--{% endif %}-->
<!--<br>-->
<!--{% endblock %}-->